html {
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 1170px;
    margin: 15px 0 15px;
    align-self: center;
}

.container * {
    font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color: white;
}

#heading {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    width: 1000px;
}

td {
    border: 2px solid silver;
    padding: 5px;
}

.hanja {
    font-family: 'Noto Sans KR', 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Arial', 'BabelStone Han', sans-serif !important;
    font-weight: 100 !important;
}

.hanja, .hanja * {
    font-size: 1.5rem;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid silver;
}
